<header class="sidebar">
  <div class="profile-card">
    <a class="image avatar"><img src="assets/img/avatar.png" alt="avatar" onerror="this.src='assets/img/avatar.jpg'" /></a>
    <h1 class="site-name">Yuguang XIAO</h1>
    <p class="site-email">yuguang.xiao.maths [at] gmail.com</p>
    <div class="social-icons">
      <a href="mailto:yuguang.xiao.maths@gmail.com" title="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
    <div class="visitor-map sidebar-map">
      <img id="clustrmap-sidebar" src="https://www.clustrmaps.com/map_v2.png?cl=c2714f&w=240&t=tt&d=2TdrBvABEGrBC_bDnUoKBxbOtj0sjGIy1JJrExxZxZM&co=faf9f7&ct=3d3929" alt="ClustrMaps" />
    </div>
  </div>
</header>
